@model Domain.Models.MusicoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MusicoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimeiroNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimeiroNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentoPreferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentoPreferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultiInstrumentista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultiInstrumentista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossuiBanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossuiBanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
