@model Domain.Models.MusicoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Musico</h1>

<div>
    <h4>MusicoModel</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-12">
            <img src="@Model.ImageUri" width="200" /> <br /><br />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimeiroNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimeiroNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UltimoNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UltimoNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentoPreferido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstrumentoPreferido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MultiInstrumentista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MultiInstrumentista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PossuiBanda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PossuiBanda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banda)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Concluir" class="btn btn-primary btn-lg" />
            </form>
        </dt>
        <dd class="col-sm-10">
            <form asp-action="Index">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Voltar" class="btn btn-primary btn-lg" />
            </form>
        </dd>

    </dl>
</div>

