@model IEnumerable<Domain.Models.MusicoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Perfil do Musico</h1>

<p>
    <a asp-action="Create">Criar perfil para o Musico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimeiroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentoPreferido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MultiInstrumentista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PossuiBanda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banda)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUri)" width="35" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimeiroNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentoPreferido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultiInstrumentista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossuiBanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banda)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar informações</a>
            </td>
        </tr>
}
    </tbody>
</table>
