@model IEnumerable<Domain.Models.SpotModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Spots Diários</h1>

<p>
    <a asp-action="Create">Publicar Spot</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MusicoModel.ImageUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicoModel.PrimeiroNome)
            </th>

            <th class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.MusicoModel.ImageUri)" width="35" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusicoModel.PrimeiroNome)
            </td>
            <td class = "col-sm-4">
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>

            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar Spot</a>
            </td>
        </tr>
}
    </tbody>
</table>
